a:link, a:visited {
  text-decoration: none;
  color: rgb(96, 143, 219);
}
a:hover, a:active {
  text-decoration: underline;
}
p {
  padding-bottom: 1em; 
}
footer {
  padding-top: 2em;
  color: #666;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
input, label {
  display: inline-block;
  font-size: 1em;
}

#status {
  padding: 0.5em; 
}
#status.valid {
  background: #efd;
}
#status.invalid {
  background: #fdd;
}

.CodeMirror {
  border: 1px solid #ccc;
}
.CodeMirror.valid {
  border: 1px solid #3c3;
}
.CodeMirror.invalid {
  border: 1px solid #c33;
}
#result > .CodeMirror {
  height: fit-content !important;
}
.cm-tab {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAI1JREFUSMft1TEKwgAMheGvdhTBE3gAFxdxFUGos8d19AyOIji6qINIEVGXOBYnoYG+KRAC+fNCQqe/a4FhU7KXAOCIeVOyTABwwQsTXFGHI3UWADjHtsxwiuafUKD6UfzAFssWgPTDjQ3uX4AsGmGKPQ64ZbpEJVYBAQPJJr+OuMh4RsfYRfzu3mLb9AHY7xVxWir3mgAAAABJRU5ErkJggg==);
  background-position: right;
  background-repeat: no-repeat;
}
